#!/bin/bash -x
# Change to the source root directory
cd ${{SOURCE_DIR}}

# Generate version information
cppcheck --version

# Perform analysis
cppcheck --template="{file}::{line}::{severity}::{id}::{cwe}::{message}" --output-file=${{TOOL_ANALYSIS_DIR}}/cppcheck_output.txt ${{CPPCHECK_FLAGS}} ${{CPPCHECK_FILES}}