#!/bin/bash -x
# Generate version information
npx eslint --version

# Change back to the source root
cd ${{SOURCE_DIR}}

# Is ESLint integrated into the build system?
if [ ${{ESLINT_OUTPUT}} ]; then
    # Copy the output file to prep for parsing
    cp ${{ESLINT_OUTPUT}} ${{TOOL_ANALYSIS_DIR}}/eslint.json
# If not, invoke directly
else
    # Is there a user specified config file?
    if [ ${{ESLINT_CONFIG}} ]; then
        npx eslint -c ${{ESLINT_CONFIG}} -f json --debug -o ${{TOOL_ANALYSIS_DIR}}/eslint.json ${{ESLINT_FLAGS}}
    else
        npx eslint -f json --debug -o ${{TOOL_ANALYSIS_DIR}}/eslint.json ${{ESLINT_FLAGS}}
    fi
fi