#!/bin/bash -x

# Print version information
pylint --version

# Perform Pylint analysis
pylint ${{SOURCE_DIR}} ${{PYLINT_FLAGS}} --exit-zero --output ${{TOOL_ANALYSIS_DIR}}/pylint_output.json --output-format json