#!/bin/bash -x
# Perform Pylint analysis
pylint --output ${{TOOL_ANALYSIS_DIR}}/pylint_output.json --output-format json ${{SOURCE_DIR}}

# Parse the results into SCRUB format
python3 -m scrub.tools.parsers.get_pylint_warnings ${{TOOL_ANALYSIS_DIR}}/pylint_output.json ${{RAW_RESULTS_DIR}}/pylint_compiler_raw.scrub